/**
 * GAIG specific styles
 */

.member {
	border-radius: 50%; 
	overflow: hidden; 
	height:150px; 
	width:150px;
	margin-bottom: 10px;
}

.memberimg {
	float:right;
	height:200px;
	margin: 10px;
}

.postimg {
	height: 150px;
	width: 150px;
	margin: 10px;
	object-fit: cover;
}

.memberimg2 {
	float:right;
	width:170px;
	margin: 10px;
}

.memberwrap {
	min-height:200px;
}

.indextitle {
	margin-top:-15px;
	font-size:40px;
	font-weight:bold;
}

.indexsubtitle {
	margin-top:-30px;
	font-size:27px;
}

.indexlogo {
	width: 200px;
}

.memberthumb {
	margin: 10px;
	min-height:290px;
    background: 
		linear-gradient(to top right, #dbdfee 50%, transparent 50.5%) no-repeat top,
		linear-gradient(0deg, #dbdfee, #dbdfee) no-repeat bottom;
	padding-top: 2em;
	background-size: 100% 12em, 100% calc(100% - 12em);
		
	&:hover {
		background-color: #293084;
	}
}

.memberthumbwrap {
	width:230px;
	min-height:290px;
	background: 
		linear-gradient(to bottom right, #eeeeee 50%, transparent 50.5%) no-repeat bottom,
		linear-gradient(0deg, #eeeeee, #eeeeee) no-repeat top;
    background-size: 100% 25em, 100% calc(100% - 25em)
}
	
	
.projectthumbwrap {
	width:370px;
	height:250px;
	margin: 10px;
	background: 
		linear-gradient(to bottom right, #eeeeee 50%, transparent 50.5%) no-repeat bottom,
		linear-gradient(0deg, #eeeeee, #eeeeee) no-repeat top;
    background-size: 100% 25em, 100% calc(100% - 25em)
}

.projectthumb {
	margin: 10px;
	height:245px;
	padding: 0em;
	position: relative;
	display: inline-block;
		
	&:hover {
		background-color: #000;
	}
}

.project img {
	object-fit: cover;
	height:230px; 
	width:350px;
	opacity: 0.5;
}

.projectthumb .projectdesc {
	top: 53%;
	position: absolute;
	background-color: rgba(17, 17, 24, 0.8);
	color: #efefef;
	text-align: left;
	padding: 3px;
	width: 100%;
	min-height: 80px;
}

.projectimg {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}

.projectimg img {
	object-fit: cover;
	height: 110px;
	width: 100%;
}

.projectthumb .projectdesc a {
	color: #f0e7ce;
}
.projectthumb .projectdesc a:hover {
	background-color: rgba(0,0,0,0);
	color: #ccc;
}

.member-list {
	flex-wrap: wrap;
	width: 100%;
	display: flex;
}

.memberthumbflex {
	flex-grow:1;
}

.bibblock {
	display: block;
	width: 100%;
    box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 10px rgba(10,10,0,0.1) inset;
	padding: 5px;
	margin-right: 15px;
	margin-top: 3px;
	margin-bottom: 10px;
	transition: 0.5s ease-in-out;
		
	&:hover {
		background-color: #dbdfee;
	}
}

.side-content-member {
	overflow-y: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.ssci-header {
	width: 100%;
	height: 150px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('/img/games-ssci/header.jpg');
	background-color: rgba(255,255,255,0.7);
	background-blend-mode: lighten;
	text-align:center;
	color: #ffffff;
	text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 770px) {
    .memberimg {
		float:none;
	}
	.indextitle {
		font-size: 27px;
	}
	.indexsubtitle {
		font-size: 18px;
	}
	.indexlogo {
		width: 100px;
	}
	
	.member-list td {
		padding-top: 5px !important;
	}

	.projectthumbwrap {
		width:290px;
	}

	.project img {
		width:270px;
	}
}

/**
  * Conference banners
  */

.ieeecog {
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #f9c92e;
	background-color: #ed6d6f;
	color: #fff;
}
.evostar {
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #d97a08;
	background-color: #f2b808;
	color: #fff;
}
.ieeetog {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #5e5e5e;
	background-color: rgb(219, 247, 255);
	color: #5e5e5e;
}
.ieeecec {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #31708f;
	background-color: #bce8f1;
	color: #31708f;
}
.fdg {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #2e2e28;
	background-color: #af1c1c;
	color: #fff;
}
.aamas {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #404040;
	color: #fff;
}
.digra {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #5bc08c;
	color: #fff;
}
.ceec {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #622567;
	color: #fff;
}
.iwai {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #007bff;
	color: #fff;
}
.gecco {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #d93;
	background-color: #0055a4;
	color: #d93;
}
.iccc {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #4085c6;
	background-color: rgb(205, 80, 151);
	color: #fff;
}
.aiide {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #eb2d2f;
	background-color: #0071b5;
	color: #f5ae32;
}
.aaai {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #023d7a;
	color: #f5e167;
}
.ciml {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #e55600;
	background-color: #fff8db;
	color: #e55600;
}
.ssci {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: rgb(63, 72, 204);
	color: #fff;
}
.tevc {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #fff;
	background-color: #d9534f;
	color: #fff;
}
.phd {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #5752a3;
	background-color: #554be3;
	color: #fff;
}
.book {  
	padding: 2px;
	border-radius: 4px;
	font-size: 80%;
	transition: 0.3s ease;
	
	border: 1px solid #885cbf;
	background-color: #b07df0;
	color: #fff;
}