/**
 * GAIG specific styles
 */

.member {
	border-radius: 50%; 
	overflow: hidden; 
	height:150px; 
	width:150px;
	margin-bottom: 10px;
}

.memberimg {
	float:right;
	height:200px;
}

.memberwrap {
	min-height:200px;
}

.indextitle {
	margin-top:-15px;
	font-size:40px;
	font-weight:bold;
}

.indexsubtitle {
	margin-top:-30px;
	font-size:27px;
}

.indexlogo {
	width: 200px;
}

.memberthumb {
	margin: 10px;
	height:290px;
    background: 
		linear-gradient(to top right, #dbdfee 50%, transparent 50.5%) no-repeat top,
		linear-gradient(0deg, #dbdfee, #dbdfee) no-repeat bottom;
	padding-top: 2em;
	background-size: 100% 12em, 100% calc(100% - 12em);
}

.memberthumbwrap {
	width:230px;
	height:290px;
	background: 
		linear-gradient(to bottom right, #eeeeee 50%, transparent 50.5%) no-repeat bottom,
		linear-gradient(0deg, #eeeeee, #eeeeee) no-repeat top;
    background-size: 100% 25em, 100% calc(100% - 25em)
}
	
	
.projectthumbwrap {
	width:370px;
	height:250px;
	margin: 10px;
	background: 
		linear-gradient(to bottom right, #eeeeee 50%, transparent 50.5%) no-repeat bottom,
		linear-gradient(0deg, #eeeeee, #eeeeee) no-repeat top;
    background-size: 100% 25em, 100% calc(100% - 25em)
}

.projectthumb {
	margin: 10px;
	height:245px;
	padding: 0em;
	position: relative;
	display: inline-block;
}

.project img {
	object-fit: cover;
	height:230px; 
	width:350px;
	opacity: 0.5;
}

.projectthumb .projectdesc {
	top: 53%;
	position: absolute;
	background-color: rgba(17, 17, 24, 0.8);
	color: #efefef;
	text-align: left;
	padding: 3px;
	width: 100%;
	min-height: 80px;
}

.projectimg {
	width: 100%;
	height: 110px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}

.projectimg img {
	object-fit: cover;
	height: 110px;
	width: 100%;
}

.projectthumb .projectdesc a {
	color: #f0e7ce;
}
.projectthumb .projectdesc a:hover {
	background-color: rgba(0,0,0,0);
	color: #ccc;
}

.member-list {
	flex-wrap: wrap;
	width: 100%;
	display: flex;
}

.memberthumbflex {
	flex-grow:1;
}

.bibblock {
	display: block;
	width: 100%;
    box-sizing: border-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 10px rgba(10,10,0,0.1) inset;
	padding: 5px;
	margin-right: 15px;
	margin-top: 3px;
	margin-bottom: 10px;
	transition: 0.5s ease-in-out;
		
	&:hover {
		background-color: #dbdfee;
	}
}

.side-content-member {
	overflow-y: auto;
	padding-right: 10px;
	padding-left: 10px;
}

@media screen and (max-width: 770px) {
    .memberimg {
		float:none;
	}
	.indextitle {
		font-size: 27px;
	}
	.indexsubtitle {
		font-size: 18px;
	}
	.indexlogo {
		width: 100px;
	}
	
	.member-list td {
		padding-top: 5px !important;
	}

	.projectthumbwrap {
		width:290px;
	}

	.project img {
		width:270px;
	}
}