---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>	
		
		<!-- Find all member pages and head of group -->
		
		{% assign staff = "" | split: ',' %}
		{% assign students = "" | split: ',' %}
		{% assign visitors = "" | split: ',' %}
		{% assign alumni = "" | split: ',' %}
		
		{% assign head = site.members | first %}
		{% for page in site.members %}
			{% if page.job contains 'Head' %}
				{% assign head = page %}
			{% else %}
				{% if page.job-type == 'external' %}
					{% assign visitors = visitors | push: page %}
				{% elsif page.job-type == 'student' %}
					{% assign students = students | push: page %}
				{% elsif page.job-type == 'alumni' %}
					{% assign alumni = alumni | push: page %}
				{% else %}
					{% assign staff = staff | push: page %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% assign staff_sorted = staff | sort:"sortkey" %}
		{% assign students_sorted = students | sort:"year" | reverse %}
		{% assign visitors_sorted = visitors | sort:"title" %}
		{% assign alumni_sorted = alumni | sort:"title" %}
		
		<!-- Display head of group -->
		<td><center><div>
			<div class="memberthumbwrap"><div class="memberthumb" style="border-bottom:10px solid #293084">
			<div class="member"><a href="{{head.permalink}}"><img src="{{head.img}}" width="200"/></a></div>
			<a href="{{head.permalink}}">{% if head.short-name %}{{ head.short-name }}{% else %}{{ head.title }}{% endif %}</a> <a href="mailto:{{head.email}}"><i class="fas fa-envelope"></i></a><br/>
			{{head.job}}
			</div></div>
		</div></center></td>
				
		<!-- Display staff -->
		<h2>Staff [{{ staff.size }}]</h2>
		<div class="member-list">
				{% for member in staff_sorted %}  
					<!-- Display this member -->
					<div class="memberthumbflex"><center>
						<div class="memberthumbwrap"><div class="memberthumb" style="border-bottom:10px solid #9FEE5A">
					    <div class="member"><a href="{{member.permalink}}"><img src="{{member.img}}" width="200"/></a></div>
						<a href="{{member.permalink}}">{% if member.short-name %}{{ member.short-name }}{% else %}{{ member.title }}{% endif %}</a> <a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a><br/>
						{{member.job}}
						</div></div>
					</center></div>		  
				{% endfor %}
		</div>
		<hr>
		
		<!-- Display students -->
		<h2>Students [{{ students.size }}]</h2>
		<div class="member-list">
				{% for member in students_sorted %}  
					<!-- Display this member -->
					<div class="memberthumbflex"><center>
						<div class = "memberthumbwrap"><div class="memberthumb" style="border-bottom:10px solid #30C99B">
							<div class="member"><a href="{{member.permalink}}"><img src="{{member.img}}" width="200"/></a></div>
							<a href="{{member.permalink}}">{% if member.short-name %}{{ member.short-name }}{% else %}{{ member.title }}{% endif %}</a> <a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a><br/>
							{{member.job}}<br/>
							Joined {{member.year}}
						</div></div>
					</center></div>	
				{% endfor %}
		</div>
		<hr>
		
		<!-- Display alumni -->
		<h2>Alumni [{{ alumni.size }}]</h2>
		<div class="member-list">
				{% for member in alumni_sorted %}  
					<!-- Display this member -->
					<div class="memberthumbflex"><center>
						<div class = "memberthumbwrap"><div class="memberthumb" style="border-bottom:10px solid #ffae70">
							<div class="member"><a href="{{member.permalink}}"><img src="{{member.img}}" width="200"/></a></div>
							<a href="{{member.permalink}}">{% if member.short-name %}{{ member.short-name }}{% else %}{{ member.title }}{% endif %}</a> <a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a><br/>
							{{member.job}}
						</div></div>
					</center></div>	
				{% endfor %}
		</div>
		<hr>
		
		<!-- Display visitors -->		
		<h2>External [{{ visitors.size }}]</h2>
		<div class="member-list">
				{% for member in visitors_sorted %}
					<!-- Display this member -->
					<div class="memberthumbflex"><center>
						<div class="memberthumbwrap"><div class="memberthumb" style="border-bottom:10px solid #F4DC58">
					    <div class="member"><a href="{{member.permalink}}"><img src="{{member.img}}" width="200"/></a></div>
						<a href="{{member.permalink}}">{% if member.short-name %}{{ member.short-name }}{% else %}{{ member.title }}{% endif %}</a> <a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a><br/>
						{{member.job}}
						</div></div>
					</center></div>	
				{% endfor %}
		</div>
			
    </div>
    <button class="anchor"><i class="fas fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    GAIG Members
                </div>
                <div id="content-side" class="content-ul" style="line-height:1.4">
                    
					<div style="border-bottom: 3px solid #9FEE5A; padding-left: 5px">Staff</div>
					<ul>
                    {% for page in site.members  %}
						{% if page.job-type == 'staff' %}
							<li>
								<a href="{{ page.permalink }}"> {{ page.title }} </a>
							</li>
						{% endif %}
                    {% endfor %}
					</ul>
					
					<div style="border-bottom: 3px solid #30C99B; padding-left: 5px">Students</div>
					<ul>
                    {% for page in site.members  %}
						{% if page.job-type == 'student' %}
							<li>
								<a href="{{ page.permalink }}"> {{ page.title }} </a>
							</li>
						{% endif %}
                    {% endfor %}
					</ul>
					
					<div style="border-bottom: 3px solid #ffae70; padding-left: 5px">Alumni</div>
					<ul>
                    {% for page in site.members  %}
						{% if page.job-type == 'alumni' %}
							<li>
								<a href="{{ page.permalink }}"> {{ page.title }} </a>
							</li>
						{% endif %}
                    {% endfor %}
					</ul>
					
					<div style="border-bottom: 3px solid #F4DC58; padding-left: 5px">External</div>
					<ul>
                    {% for page in site.members  %}
						{% if page.job-type == 'external' %}
							<li>
								<a href="{{ page.permalink }}"> {{ page.title }} </a>
							</li>
						{% endif %}
                    {% endfor %}
					</ul>
                </div>
            </div>
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
