---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
		<div class="projectimg"><img src="{{page.img}}"/></div>
		<h1>{{page.title}}</h1>
		<ul>
		{% if page.year %} <li> <b>Start year:</b> {{page.year}} </li> {% endif %}
		{% if page.deadline %} <li> <b>Deadline:</b> {{page.deadline}} </li> {% endif %}
		{% if page.others %} <li> <b>Other QMUL collaborators:</b> {{ page.others }} </li> {% endif %}
		{% if page.external %} <li> <b>External collaborators:</b> {{ page.external }} </li> {% endif %}
		{% if page.funded %} <li> <b>Funded by:</b> {{page.funded}} </li> {% endif %}
		{% if page.target %} <li> <b>URL:</b> <a href="{{page.target}}">{{page.target}}</a> </li> {% endif %}
		</ul>
		
		<h3>Members involved</h3>
		<ul>
		{% for member in page.members %}
			<li><a href="/members/{{member}}"> {{member | replace: "-", " "}}</a> </li>
		{% endfor %}
		</ul>
		
        <hr>
        {{ content }}
		
    </div>
    <!--<button class="anchor"><i class="fas fa-anchor"></i></button>-->
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    GAIG Projects
                </div>
                <ul id="content-side" class="content-ul" style="line-height:1.4">
                    {% for page in site.projects  %}
						<li><a href="{{ page.permalink }}">{% if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
