---
layout: default
title: Publications
permalink: /publications/
icon: archive
---


<div class="page clearfix">
				
	{% assign start_year = 2017 %}
	{% assign current_year = 'now' | date: "%Y" %}
	
    <div class="left">
        <h1>{{page.title}} [{{ site.categories["Publications"] | size }}]</h1>
        <hr>
							
		<!-- Find names of all group members -->
		{% assign group_members = '' | split: ' ' %}
		{% for page in site.members %}
			{% if page.job-type == "student" or page.job-type == "staff" %}  <!-- ignore externals -->
				{% assign group_members = group_members | push: page %}
			{% endif %}
		{% endfor %}
							
		{% for counter in (start_year..current_year) reversed %}
			{% assign sorted_posts = site.categories["Publications"] | where: "year",counter | sort: "venue" | reverse %}
			<h2 id="{{ counter }}">{{ counter }} [{{ sorted_posts | size}}]</h2> <!-- Display current year -->
			<ul style="list-style-type:none">
				{% for post in sorted_posts %}
					<li>
						<!-- Compute author string, with highlighted authors from the group -->
						{% assign author_list = post.author | split: " and " %}
						{% assign authors_in_group = '' | split: ' ' %}
						{% assign member_mapping = '' | split: ' ' %}
							
						<!-- Look for all authors in the split author list. Authors MUST be divided by ' and '. -->
						{% for author in author_list %}
							{% assign stripped_author = author | strip %}
							{% assign finished = false %}
							
							<!-- First try to find the exact spelling from the author list in the list of group members -->
							{% for member in group_members %}
								{% assign member_name = member.title | replace: "é", "e" | replace: "ñ", "n" | replace: "ú", "u" | replace: "è", "e" | replace: "ê", "e" | replace: "ë", "e" | replace: "ü", "u" | replace: "İ", "I" %}
								{% if stripped_author == member_name %} <!-- This only works if the spelling is exactly the same as in the website -->
									{% assign authors_in_group = authors_in_group | push: stripped_author %}
									{% assign member_mapping = member_mapping | push: member %}
									{% assign finished = true %}
									{% break %}
								{% endif %}
							{% endfor %}
							
							<!-- If unsuccessful, try to look for each name in each member and allow one name from the member's profile to be mising -->
							{% if finished == false %} 
								{% assign split_name = stripped_author | remove: ',' | split: ' ' %}
								{% assign allowed_error = split_name.size %}  <!-- Increase this if a bigger difference in name should be allowed -->
								{% for member in group_members %}
									{% assign found = 0 %}  <!-- Found keeps track of how many names we've found to match this member -->
									<!-- Ignore special characters -->
									{% assign member_name = member.title | replace: "é", "e" | replace: "ñ", "n" | replace: "ú", "u" | replace: "è", "e" | replace: "ê", "e" | replace: "ë", "e" | replace: "ü", "u" | replace: "İ", "I" %}  
									{% for name in split_name %}
										{% if name contains "-" %} <!-- Multiple names combined together, split again -->
											{% assign split_name_c = name | split: "-" %}
											{% for name_c in split_name_c %}
												{% if name_c.size > 2 and member_name contains name_c %}  <!-- size bigger than 2 to ignore initials -->
													{% assign found = found | plus: 1 %}
												{% endif %}
											{% endfor %}
										{% elsif name.size > 2 and member_name contains name %}  <!-- size bigger than 2 to ignore initials -->
											{% assign found = found | plus: 1 %}
										{% endif %}
									{% endfor %}
									
									{% if found >= allowed_error %} <!-- This author is a member of the group -->
										{% assign authors_in_group = authors_in_group | push: stripped_author %}
										{% assign member_mapping = member_mapping | push: member %}
										{% break %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
							
						<!-- Highlight all authors that are members of the group. Link to their profile page in the website -->
						{% assign author_list = post.author %}
						{% assign limit = authors_in_group.size | minus: 1 %}
						{% for i in (0..limit) %}
							{% assign author = authors_in_group[i] %}  <!-- This is how the author appears in the author list -->
							{% assign member = member_mapping[i] %}  <!-- This is the author's member page -->
							{% assign spl = author_list | split: author %}  <!-- Decompose string to insert html for the author -->
							{% assign author_list = spl.first | append: "<a href='" | append: member.permalink | append: "' target='_blank'>" | append: author | append: "</a>" %}
							{% assign author_list = author_list | append: spl[1] %}
						{% endfor %}
						<!-- end compute author string -->
					
						<!-- Venue tag -->
						{% if post.venue %}
							{% assign venue = post.venue | upcase  %}
							{% if venue == "IEEE COG" %}
								<span class="ieeecog">IEEE COG</span> 
							{% elsif venue == "EVOSTAR" %}
								<span class="evostar">Evo*</span>
							{% elsif venue == "IEEE TOG" %}
								<span class="ieeetog">IEEE TOG</span>
							{% elsif venue == "IEEE CEC" %}
								<span class="ieeecec">IEEE CEC</span>
							{% elsif venue == "FDG" %}
								<span class="fdg">FDG</span>
							{% elsif venue == "AAMAS" %}
								<span class="aamas">AAMAS</span>
							{% elsif venue == "DIGRA" %}
								<span class="digra">DiGRA</span>
							{% elsif venue == "CEEC" %}
								<span class="ceec">CEEC</span>
							{% elsif venue == "ICCC" %}
								<span class="iccc">ICCC</span>
							{% elsif venue == "AIIDE" %}
								<span class="aiide">AIIDE</span>
							{% elsif venue == "IWAI" %}
								<span class="iwai">IWAI</span>
							{% elsif venue == "SSCI" %}
								<span class="ssci">SSCI</span>
							{% elsif venue == "IEEE TEVC" %}
								<span class="tevc">IEEE TEVC</span>
							{% elsif venue == "GECCO" %}
								<span class="gecco">GECCO</span>
							{% elsif venue == "EXAG" %}
								<span class="aiide">EXAG @ AIIDE</span>
							{% elsif venue == "STRATEGY AIIDE" %}
								<span class="aiide">SKATG @ AIIDE</span>
							{% elsif venue == "AAAI" %}
								<span class="aaai">AAAI</span>
							{% elsif venue == "CIML" %}
								<span class="ciml">CiML @ NeurIPS</span>
							{% elsif venue == "GAMES AAAI" %}
								<span class="aaai">GameSim @ AAAI</span>
							{% elsif venue == "PHD" %}
								<span class="phd">PhD</span>
							{% elsif venue == "BOOK" %}
								<span class="book">BOOK</span>
							{% endif %}
						{% endif %}
						
						<!-- Pub cictation -->
						{{ post.year }}
						<a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
						
							{{ author_list }},
							{% if post.type == "phdthesis" %} PhD Thesis, {% endif %}
							{% if post.journal %}in  <em>{{ post.journal }}</em>, {% elsif post.booktitle %}in <em>{{ post.booktitle }}</em>, {% elsif post.school %} <em>{{ post.school }}</em>, {% endif %}
							{% if post.volume %} <strong>{{ post.volume }}</strong>, {% elsif post.number %}, <strong>{{ post.number }}</strong>{% endif %}
							{% if post.series %} <strong>{{ post.series }}</strong>,{% endif %}
							{% if post.edition %} <strong>{{ post.edition }}</strong>,{% endif %}
							{% if post.pages %} pp. {{ post.pages | replace: "--", "-" }}, {% endif %}
							{% if post.month %}{{ post.month }}, {% endif %} {{ post.year }}.<br/>

						{% include tag.html %}
						<br/><br/>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
    </div>
    <button class="anchor"><i class="fas fa-anchor"></i></button>
	<div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Jump to ...
                </div>
                <ul id="content-side" class="content-ul">
					{% for counter in (start_year..current_year) reversed %}
						{% assign sorted_posts = site.categories["Publications"] | where: "year",counter %}
                        <li>
                            <a data-scroll href="#{{ counter }}">
                                {{ counter }} [{{ sorted_posts | size }}]
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
